.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 44%;
    background-color: #ffDD95;
    border-bottom: 1px solid #513c28;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #3468c0;
  }

  .container {
    display: flex; 
     padding-top: 2rem; 
     padding-right: 50rem;
     margin: 0;
     padding: 0;
     background-color: #3468c0;
  }

  .column {
    flex: 1; 
    padding-right: 20px;
    padding-bottom: 500px;
    border: 1px solid #ccc;
    margin: 0 10px; 
    color: #3468c0;
  }
  .column2 {
    flex: 1; 
    padding-bottom: 50px;
    padding-right: 700px;
    border: 1px solid #ccc;
    margin: 0 10px; 
    color: #3468c0;
  }
  .column3 {
    flex: 1; 
    padding-right: 50px;
    padding-bottom: 870px;
    border: 1px solid #ccc;
    margin: 0 10px; 
    color: #3468c0;
  }
  .profil img {
    width: 150px;
    height: 100px;
  }

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}
.card {
  width: 277px;
  background-color: white;
  border-radius: 10px;
  margin: 0 10px;
}

.card img {
    width: 20%;
    height: 20%;
}

